<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unavarra.tlm.dscr14" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PartidasCreadas"
            android:label="@string/title_activity_partidas_creadas"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PartidasAvailables"
            android:label="@string/title_activity_partidas_availables"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PartidasPlaying"
            android:label="@string/title_activity_partidas_playing"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InfoGame"
            android:label="@string/title_activity_info_game"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Join"
            android:label="@string/title_activity_join"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MueveResponde"
            android:label="@string/title_activity_mueve_responde"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Lienzo"
            android:label="@string/title_activity_lienzo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
